body {
    background-color:
antiquewhite;
}
h1 {
    color: saddlebrown;
    text-align: center;
}
h2 {
    color: saddlebrown;
    text-align: left;
}
.menu-item {
    background-color:saddlebrown; 
    padding: 20px;
    margin: 15px;
    border-radius: 30px;
}
.menu-item h3 {
    color: bisque;
    font-size: 22px;
}
.menu-item p:last-child {
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: saddlebrown;
}

.navbar h2 {
    margin: 0;
    color:wheat;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}
.hero {
    text-align: center ;
    padding: 200px 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
}
.hero button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: sandybrown;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.menu-item p:last-child {
    font-size: large;
    font-weight: bold; 
}
.menu-item p {
    color: white;
}
.about {
    text-align: center ;
    padding: 60px 20px;
}

.about p {
    max-width: 700px;
    margin: 0 auto;
}
.about h2  {
    font-size: 40px;
}
.about p {
    max-width: 700px;
    margin: 0 auto;
}
.contact {
       text-align: center;
       padding: 60px 20px;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    margin: 10px;
}
footer {
      text-align: center;
      padding: 25px;
      background-color: saddlebrown;
}

footer p {
   color: wheat;
   margin: 0;
}
html {
   scroll-behavior: smooth;
}
/* Mobile responsiveness */
@media (max-width:768px) {

    body {
        overflow-x:hidden;
    }

    .container {
        width: 90%;
        margin: auto;
    }
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.8rem;
}
p {
    font-size: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
}